<main>

    <ul>
        <li></li>
    </ul>
    

    <section id="intro">
        <h2>Welkom terug!</h2>
        <h3>{{naam}}</h3>
        <p>Wat zit er vandaag in uw koelkast?</p>
    </section>
    <section class="form" onsubmit="event.preventDefault();">
        <form id="searchRecipes">
            <label>Search recipes</label>
            <input id="search" type="text" placeholder="Search recipes..." name="search">
        </form> 
    </section>
    <section id="content">
        {{#each Recipes}}
            <article>
                <section class="item">
                    <h4>{{this.title}}</h4>
                    <p>{{this.description}}</p>
                </section>
                <section class="image">
                    <img src="images/dish-1.png" alt="">
                </section>  
            </article>
        {{/each}}
    </section>
    <section class="form">
        <form id="addRecipe" method="post" action="/addRecipe">
            <input type="checkbox" id="hide">
            <label>Hide all recipes</label></br></br>
            <label>Add recipe</label>
            <input name="recipeTitle" type="text" placeholder="Name">
            <textarea name="recipeDesc" type="text" placeholder="Description"></textarea>
            <input type="file" name="avatar" />
            <button>Add</button>
        </form> 
    </section>
</main>