<script src="js/search.js"></script>
<main>

    <ul>
        <li></li>
    </ul>
    

    <section id="intro">
        <h2>Welkom terug!</h2>
        <h3>{{naam}}</h3>
        <p>Wat zit er vandaag in uw koelkast?</p>
    </section>
    <section class="form" onsubmit="event.preventDefault();">
        <form id="searchRecipes">
            <label>Search recipes</label>
            <input id="search" type="text" placeholder="Search recipes..." name="search">
        </form> 
    </section>
    <section id="content">
        {{#each recepten}}
            <article>
                <section class="item">
                    <h4>{{this.name}}</h4>
                    <p>{{this.desc}}</p>
                    <button class="delete">Delete</button>
                </section>
                <section class="image">
                    <img src="images/dish-1.png" alt="">
                </section>  
            </article>
        {{/each}}
    </section>
    <section class="form">
        <form id="addRecipe">
            <input type="checkbox" id="hide">
            <label>Hide all recipes</label></br></br>
            <label>Add recipe</label>
            <input name="naam" type="text" placeholder="Name">
            <input name="desc" type="text" placeholder="Description">
            <button>Add</button>
        </form> 
    </section>
</main>