<main>
    <section id="intro">
        <h2>Welkom terug!</h2>
        <h3>Bert Hendricks</h3>
        <p>Wat zit er vandaag in uw koelkast?</p>
    </section>
    <section class="content">
        <img src="images/Empty-Fridge.png" alt="">
    </section>
    <section class="form">
        <form action="file:///Users/cesar/Dropbox/HVA/Leerjaar-2/Blok-4/project-tech/Matching-app/project-tech/matching-app/static/results.html">
            <label class="ingredienten">Ingredients:</label>
            <label class="hoeveelheid">Hoeveelheid:</label>
            <input class="ingredienten" type="text" id="ingredienten" required>
            <input class="hoeveelheid" type="text" id="hoeveelheid" required>
            <input type="checkbox" id="check" name="extra-s-market" unchecked>
            <label for="extra-s-market">Ik wil nog naar de supermarkt voor extra ingredienten</label>
            <input class="submit-secondary add" type="submit" value="+">
            </form> 
    </section>
</main>