<main>
    <section id="intro">
        <h2>Welkom!</h2>
        <p>Maak een account aan of log in om te zien wat jij kan doen met je huidige koelkast inhoud!</p>
    </section>
    <section class="form">
        <form action=/ method=post>
            <h3>Inlog gegevens</h3>
            <label>Gebruikersnaam:</label><br>
            <input type="text" name="naam" required><br>
            <label for="pass">Wachtwoord:</label><br>
            <input type="password" name="wachtwoord" required><br>
            <input id="submit" type="submit" value="Log in">
        </form> 
    </section>
    <section class="form">
        <form action="file:///Users/cesar/Dropbox/HVA/Leerjaar-2/Blok-4/project-tech/Matching-app/project-tech/matching-app/static/register.html">
            <input class="submit-secondary" type="submit" value="Maak een account">
        </form> 
    </section>
</main>