<main>
    <section id="intro">
        <h2>Dit zijn je mogelijkheden</h2>
    </section>
    <section class="content">
        <article>
            <section class="items">
                <h4>{{search}}</h4>
                <p>Een lekker peren gerecht voor op de barbeque. Ideaal voor als er bezoek komt!.</p>
                <section class="ingredienten">
                    <section class="half">
                        <p><strong>Ingredienten in huis:</strong></p>
                        <ol>
                            <li>Peren</li>
                            <li>Yoghurt</li>
                        </ol>
                    </section>
                    <section class="half">
                        <p><strong>Extra ingredienten:</strong></p>
                        <ol>
                            <li>Citroen</li>
                            <li>Gemalen kardemom</li>
                            <li>Honing</li>
                            <li>Pistachenoten</li>
                            <li>Almond thins</li>
                        </ol>
                    </section>
                </section>
                <p>Prijs aan extra producten:  €6.49</p>
            </section>
            <section class="image">
                <img src="images/dish-1.png" alt="">
            </section>  
        </article>
    </section>
</main>