/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box; 
    margin: 0;
    padding: 0; 
  }

body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #01172F;
}

/* Fonts */
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
    font-size: 38px;
}

h2{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #fff;
}

h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 40px;
}

h4{
    font-family: 'Poppins', sans-serif;
    font-size: 19px;
}

p{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: #fff;
}

a{
    text-decoration: none;
}

/* Forms */
input[type=text], input[type=password], input[type=submit]{
    width: 100%;
    border: none;
    margin: 3px auto 20px;
    padding: 10px;
}

input.ingredienten{
    max-width: 60%;
}
input.hoeveelheid{
    max-width: 39%;
}
label.ingredienten{
    min-width: 60%;
    display: inline-block;
}
label.hoeveelheid{
    min-width: 39%;
    display: inline-block;
}

input#submit{
    background-color: #5B92FD;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
}

input.submit-secondary{
    border: #5B92FD 3px solid;
    background-color: #C4C4C4;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    margin: 10px 0;
}

input.submit-secondary.add{
    width: 60px;
    margin: 0 auto;
    display: block;
}

input#check{
    width: auto;
}

hr{
    border-color: #fff;
    width: 130%;
    position: relative;
    left: -15%;
    margin: 30px 0;
}

form button{
    background-color: #4AA5BD;
    border: none;
    padding: 1em;
    color: white;
    font-family: 'Poppins';
    line-height: 1;
}

form button:hover {
    cursor: pointer;
}

/* Header */
header{

}

header section h1{
    display: block;
    width: 150px;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
}

header section::before{
    content: "";
    background-image: url(../images/header-block.svg);
    background-size: 320% auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    background-position: top center;
    height: 150px;
}

/* Main */

main section#intro{
    margin: 100px auto 0;
    max-width: 500px;
    text-align: center;
}

main section.form{
    margin: 100px auto 0;
    max-width: 600px;
    background-color: #C4C4C4;
    padding: 30px;
    border-radius: 30px;
}

main section.form form {
    max-width: 400px;
    margin: 0 auto;
}

main section.form form h3{
    text-align: center;
    margin-bottom: 30px;
}

main section#content{
    max-width: 700px;
    margin: 30px auto 0;
}

main section#content img{
    width: 100%;
}

/* Main Gerechten */

main #content article{
    background-color: #C4C4C4;
    display: flex;
    padding: 20px;
}

main #content article:nth-child(even){
    background-color: #E3E3E3;
}

main #content article p{
    color: #000;
}

main #content article .item{
    width: 60%;
    padding-right: 20px;
    position: relative;
}

main #content article .image{
    width: 40%;
}

main #content article .ingredienten{
    display: flex;
    margin-top: 20px;
}

main #content article .ingredienten .half{
    width: 50%;
}

main #content article .ingredienten .half ol{
    padding-left: 30px;
}

main #content article button  {
    background-color: #EE6352;
    border: none;
    padding: 1em;
    color: white;
    font-family: 'Poppins';
    line-height: 1;
    bottom: 0px;
    position: absolute;
}
main #content article button:hover {
    cursor: pointer;
}
main #content article button:active {
    display: none;
}

/* main .content article .items .half{
    max-width: 50%;
    display: inline-block;
} */

/* Footer */

footer section{
    background-color: #4AA5BD;
    position: relative;
    height: 150px;
}


footer section::before{
    content: "";
    background-image: url(../images/footer-block.svg);
    background-size: 320% auto;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    background-position: top center;
    height: 150px;
}